@import url(remixicon/remixicon.css);
@import url(tailwindcss-colors.css);
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

[data-bs-theme="dark"] body {
  background-color: #171a1d;
}
[data-bs-theme="light"] body {
  background-color: #F2F7FF;
}
.bt-theme {
  background-color: var(--bs-body-bg) !important;
  color: var(--bs-body-color) !important;
}
.btn-primary {
  border: none;
  background-image: radial-gradient(180% 100% at 100% 0%, #f50b6e 0%, #ff000000 100%), radial-gradient(142% 91% at 100% 80%, #2f2aff 0%, #0a70f8 40%);
}
[data-bs-theme="light"] .bgt {
  background-color: var(--white) !important;
}
[data-bs-theme="dark"] .bgt {
  background-color: var(--slate-900) !important;
}
.sidebar {
  max-height: calc(100vh - 60px);
  overflow: auto;
  position: fixed;
  z-index: 1;
}
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #d0d0d0;
  border-radius: 3px;
}
.sidebar .nav-link {
  color: var(--bs-body-color);
  border-radius: 8px;
}
.sidebar .nav-link i {
  color: var(--blue-500);
}
.sidebar .nav-link.active i {
  color: white;
}
.sidebar .nav-link.active,
.sidebar .nav-link.active:hover {
  background: var(--indigo-400);
  color: white;
}
.sidebar .nav-link:hover {
  background-color: #435EBE1a;
}
.sidebar .nav-link:active {
  background-color: #435EBE30;
}
footer {
  
}